/* common style */

.common-btn-style{

     background: red;
     color: white;
     border-radius: 8px;
     padding: .7rem;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0.5rem;
}

/* Products container's each product */
#products-container div,.tea-product-ofQualitySection{

       background-color: rgba(128, 0, 255, 0.134);
       padding: 1rem;
       border-radius: 0.5rem;
       text-align: center;
       
}

#products-container div img{

       margin: auto;
       margin-bottom: 0.9rem;
}

#products-container div h2{

    font-weight: bold;
      font-size: 1.5rem;
}

/* clients-section */
#clients-section div p{

        font-size: small;
}

/* News and event section */
#news-card-container div{
     
      border: 2px solid rgba(28, 9, 9, 0.648);
      text-align: left;
      padding: 0.5rem;
      border-radius: 0.3rem;
}
#news-card-container div h2{

     font-size: 1.3rem;
     font-weight: bold;
     color: #5130c5d1;
     margin-bottom: 0.9rem;
}
#news-card-container div b{

     margin-top: 1rem;
     display: inline-block;
     font-weight: 500;
}

/* Footer section */

#footerLinksContaier div h2{

       font-weight: bold;
       font-size: 1.5rem;
       margin-bottom: 0.8rem;
}